{% extends 'layout/basic.html' %}

{% load bootstrap4 %}
{% load i18n %}

{% block content %}
<h1 class="my-4">{% trans 'Task details' %}</h1>
<div class="card">
    <div class="card-header bg-secondary text-white">
        <h2>{{ task.name }}</h2>
    </div>
    <div class="card-body bg-light">
        <p>{{ task.description }}</p>
        <hr>
        <div class="container">
            <div class="row p-1">
                <div class="col">{% trans 'Author' %}</div>
                <div class="col">{{ task.tasks_author }}</div>
            </div>
            <div class="row p-1">
                <div class="col">{% trans 'Executor' %}</div>
                <div class="col">{{ task.executor }}</div>
            </div>
            <div class="row p-1">
                <div class="col">{% trans 'Status' %}</div>
                <div class="col">{{ task.status }}</div>
            </div>
            <div class="row p-1">
                <div class="col">{% trans 'Creation date' %}</div>
                <div class="col">{{ task.created|date:"d.m.Y, H:i:s" }}</div>
            </div>
            <div class="row p-1">
                <div class="col">
                    <h6>{% trans 'Labels' %}:</h6>
                    {% if task.labels.all %}
                    <ul>
                        {% for label in task.labels.all %}
                        <li>{{ label }}</li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <span>{% trans 'No bound labels' %}</span>
                    {% endif %}
                    </ul>
                </div>
            </div>
            <div class="row p-1">
                <div class="col">
                    <a href="{% url 'task_update' task.pk %}">{% trans 'Change' %}</a>
                    <br>
                    <a href="{% url 'task_delete' task.pk %}">{% trans 'Delete' %}</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
